<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490996388029-3rkk9ns0og2u285ain2n4572po9ri8or.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490996388029-3rkk9ns0og2u285ain2n4572po9ri8or</string>
	<key>API_KEY</key>
	<string>AIzaSyA_4UrcPJqyT0-5qmdwCpNxPwx1oo8NC_A</string>
	<key>GCM_SENDER_ID</key>
	<string>490996388029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codefox.quizzle</string>
	<key>PROJECT_ID</key>
	<string>quizzenglishlearn</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzenglishlearn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490996388029:ios:62b3dd6aa4920e93b127d4</string>
</dict>
</plist>